@using Data.Entities
@using Data.Model.Models
@using Data.ViewModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<DoctorViewModel>

@{
    ViewData["Title"] = "Index";
}


@if(SignInManager.IsSignedIn(User))
{
    <p>
    <a asp-action="Create">Create New</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Knowledge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts)
            </th>
            <th>
                Name
            </th>
            <th>
               Speciality
            </th>
            <th>
                Ward
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Knowledge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WardName)
            </td>
            <td>
                  @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
