@model IEnumerable<Data.Entities.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("HospitalManager"))
{
    <p>
    <a asp-action="Create">Create New</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Knowledge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ward)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Knowledge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speciality.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ward.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
